<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login Page</title>
		<link rel="stylesheet" href="../styles.css">
	</head>
	<body>
	        <div class="header">
		        <h1>Page Links</h1>
	        </div>
	        <div class="topnav">
                        <a href="../home_page.html">Home Page</a>
                </div>
				<form action="" method="POST">{% csrf_token %}
					<label>Email:</label>
					<input type="email" name="username" required>
					<label>Password:</label>
					<input type="password" name="password" required>
					<br>
					<label>
						<input type="checkbox"> Remember Me
					</label>
					<br>
					<button type="submit">Submit</button>
				</form>
        </body>
</html>
